
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>

    <table border="2" mdbTable class="tab">
        <thead class="black white-text">
        <tr>
            <th>Date</th>
            <th>name</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
    </thead>
        <tr mdbTableCol *ngFor="let expn of explist;let indexofelement=index">
            <td><input  [disabled]="expn.btn" type="date" [(ngModel)]="expn.date" text value={{expn.date}}></td>
          <td><input [disabled]="expn.btn" type="text" [(ngModel)]="expn.name" text value={{expn.name}}></td>
          <td><input [disabled]="expn.btn" type="text" [(ngModel)]="expn.desc" text value={{expn.desc}}></td>
          <td><input [disabled]="expn.btn" type="number" [(ngModel)]="expn.amount" text value={{expn.amount}}></td>
          <td><span>&nbsp;&nbsp;</span><button class="btn btn-danger btn-sm" *ngIf="expn.btn" (click)="setsave(indexofelement)">Update</button>
              <button *ngIf="!expn.btn" class="btn btn-success btn-sm" (click)="saveexp(expn,indexofelement)">Save</button>
          </td>
          <!-- <td><button (click)="deleteexpense(expn.expid)">Delete</button></td> -->
          <td><span>&nbsp;&nbsp;</span><i (click)="deleteexpense(expn.expid)" class="fa fa-close" style="font-size:28px;color:black"></i></td>
        </tr>
        <tr *ngIf="newslot">
            <td><input type="date" [(ngModel)]="exp.date" text value={{exp.date}}></td>
            <td><input type="text" [(ngModel)]="exp.name" text value={{exp.name}}></td>
            <td><input type="text" [(ngModel)]="exp.desc" text value={{exp.desc}}></td>
            <td><input type="number" [(ngModel)]="exp.amount" text value={{exp.amount}}></td>
            <td><span>&nbsp;&nbsp;</span><button class="btn btn-success btn-sm" (click)="addexpense()">save</button></td>
            <td><span>&nbsp;&nbsp;</span><i (click)="cancel()" class="fa fa-close" style="font-size:28px;color:black"></i></td>
        </tr>
        <br>
        <button class="btn btn-primary btn-sm" *ngIf="!newslot"(click)="addslot()">ADD</button>
        <br>
        <br>
        <button class="btn btn-warning btn-sm" (click)="calctot()">Total Amount Spent</button>:{{total}}
    </table>
    
</body>