
<body>
    <div class="container">
        <a (click)="jan()" class="button">January</a>
        <app-jan *ngIf="month[0]"></app-jan>
    </div>
    
    <div class="container">
        <a (click)="feb()" class="button">February</a>
        <app-feb *ngIf="month[1]"></app-feb>
    </div>
    
    <div class="container">
        <a (click)="mar()" class="button">March</a>
        <app-mar *ngIf="month[2]"></app-mar>
    </div>
    
    <div class="container">
        <a (click)="apr()" class="button">April</a>
        <app-apr *ngIf="month[3]"></app-apr>
    </div>
    
    <div class="container">
        <a (click)="may()" class="button">May</a>
        <app-may *ngIf="month[4]"></app-may>
    </div>
    
    <div class="container">
        <a (click)="jun()" class="button">June</a>
        <app-jun *ngIf="month[5]"></app-jun>
    </div>
    
    <div class="container">
        <a (click)="jul()" class="button">July</a>
        <app-jul *ngIf="month[6]"></app-jul>
    
    </div>
    
    <div class="container">
        <a (click)="aug()" class="button">August</a>
        <app-aug *ngIf="month[7]"></app-aug>
    </div>
    
    <div class="container">
        <a (click)="sept()" class="button">September</a>
        <app-sept *ngIf="month[8]"></app-sept>
    </div>
    
    <div class="container">
        <a (click)="oct()" class="button">October</a>
        <app-oct *ngIf="month[9]"></app-oct>
    </div>
    
    <div class="container">
        <a (click)="nov()" class="button">November</a>
        <app-nov *ngIf="month[10]"></app-nov>
    </div>
    
    <div class="container">
        <a (click)="dec()" class="button">December</a>
        <app-dec *ngIf="month[11]"></app-dec>
    </div>
</body>